<footer class="ui center aligned text container">
	<div class="row">
		<p class="black">© 2016 Francisco Knebel.
			<br>
			Built with
			<strong>
				<a href="http://semantic-ui.com/" target="_blank">Semantic UI</a>.
			</strong>
			<br>
			Fonts by
			<strong>
				<a href="http://fontawesome.io/" target="_blank">Font Awesome</a>
			</strong>
			&amp; Avatars by
			<strong>
				<a href="http://gravatar.com" target="_blank">Gravatar</a>
			</strong>
		</p>
	</div>
	<div class="row">
		<div class="ui massive horizontal list">
			<a class="item" href="https://www.twitter.com/franciscoknebel" target="_blank">
				<i class="circular black twitter icon"></i>
			</a>
			<a class="item" href="https://www.github.com/franciscoknebel/fcc-booktrading" target="_blank">
				<i class="circular black github alternate icon"></i>
			</a>
		</div>
	</div>
</footer>
