<% if(typeof user !== "undefined") { %>
	<div class="ui red top fixed large inverted menu">
		<a href="/" class="header item">
			<img src="/favicon.ico" class="ui avatar image"/>
		</a>
		<div class="right menu">
			<a href="/profile/<%= user.link %>" class="item link">
				<p>Profile</p>
			</a>
			<a href="/profile" class="item">
				<img class="ui bordered avatar image" src="<%= user.picture %>"/>
			</a>
			<a href="/logout" class="active item icon">
				<i class="large sign out icon"></i>
			</a>
		</div>
	</div>

<% } else { %>
	<div class="ui borderless top fixed large inverted menu">
		<a href="/" class="header item">
			<img src="/favicon.ico" class="ui avatar image"/>
		</a>
		<div class="right menu">
			<div class="item">
				<div class="ui large buttons">
					<div class="ui animated green button" tabindex="0" id="loginButton" data-toggle="modal" data-target="#authModal" data-action="login">
						<div class="visible content">Login</div>
						<div class="hidden content">
							<i class="sign in icon"></i>
						</div>
					</div>
					<div class="menu or" data-text="or"></div>
					<div class="ui animated primary button" tabindex="0" id="signupButton" data-toggle="modal" data-target="#authModal" data-action="signup">
						<div class="visible content">Signup</div>
						<div class="hidden content">
							<i class="user plus icon"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% include authModal %>
<% } %>
