<!DOCTYPE html>
<html>
	<head>
		<title>Troca de Livros</title>

		<% include ../snippets/head %>
	</head>
	<body>
		<% include ../snippets/navbar %>

		<div class="ui raised segments text container" id="top">
			<div class="ui segment">
				<div class="ui big error message">
					<div class="header">
						404!
					</div>
					<div class="content">
						Invalid page url "<%= link %>".
						<br>
						Maybe it was moved or never existed at all? Spooky.
					</div>
				</div>
			</div>
			<div class="ui segment">
				<a href="/">
					<img src="/img/fog-m.jpg" class="ui centered image"/>
					<!--
					Image source: https://pixabay.com/photo-1208283/
					-->
				</a>
			</div>
		</div>

		<% include ../snippets/footer %>
		<% include ../snippets/JS %>
	</body>
</html>
