<!DOCTYPE html>
<html>
	<head>
		<title>Troca de Livros</title>

		<% include ../snippets/head %>
	</head>
	<body>
		<% include ../snippets/navbar %>

		<div class="ui text container" id="top">
			<div class="ui grid">
				<img src="/favicon.ico" alt=""/>
			</div>
		</div>

		<% include ../snippets/footer %>
		<% include ../snippets/JS %>
	</body>
</html>
