<!DOCTYPE html>
<html>
	<head>
		<title>Troca de Livros</title>

		<% include ../snippets/head %>
	</head>
	<body>
		<% include ../snippets/navbar %>

		<div class="ui container" id="top">
			<img src="/favicon.ico" /class="ui centered small image">
		</div>

		<div class="ui raised segments text container">
			<div class="ui center aligned segment">
				<div class="ui warning message">
					Invalid profile link "<%= link%>".
				</div>
			</div>
		</div>

		<% include ../snippets/footer %>
		<% include ../snippets/JS %>
	</body>
</html>
