<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Troca de Livros - Verify</title>
	</head>
	<body>
		<% if (verifying)  { %>
			<p>VERIFYING</p>
			<p><%= message %></p>
		<% } else { %>
			<p>NOT VERIFYING</p>
			<p><%= message %></p>
		<% } %>

	</body>
</html>
