body {
  background-color: #111111;
}

h1, h2, h3, h4, h5 {
    color: white;
}

.ui.segment h1, .ui.segment h2, .ui.segment h3, .ui.segment h4, .ui.segment h5 {
  color: black;
}

.ui.message h2{
  color: black;
}

.black {
  color: white !important;
}

i.black.icon {
  color: white !important;
}

.text-white {
  color: black;
}

#top {
  margin-top: 60px;
}

footer {
  padding: 50px 0;
}

a {
  transition: 1s;
  color: #a03232;
}

a:focus, a:hover {
  transition: 1s;
	color: #014c8c;
}

.nojs {
  display: none !important;
}

.navitem {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
